<div class="row">
        {{#each albumData}}
            <img src="{{images.0.url}}">
            <p>{{name}}</p>
            <div class="view-tracks">
            <a href="/tracks/{{id}}">Find Tracks</a>
        </div>
        {{/each}}
</div>